body {
  background-color: #e0f7fa;
  font-family: "Roboto", sans-serif;
}

.w3-card-4 {
  border-radius: 15px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.w3-bar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #007bff, #00c6ff);
  color: white;
}

.w3-button {
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  height: 44px;
}

.w3-button:hover {
  background-color: #444 !important;
  color: #fff !important;
  transform: scale(1.05);
}

.w3-bar .w3-button {
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  height: 44px;
}

.w3-bar .w3-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease, left 0.3s ease;
}

.w3-bar .w3-button:hover::after {
  width: 100%;
  left: 0;
}

.w3-bar .w3-button:hover {
  background-color: rgba(38, 94, 248, 0) !important;
  color: #fff !important;
  transform: scale(1.00);
}

.w3-xxlarge {
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.w3-text-blue {
  color: #007bff !important;
}

.w3-text-deep-purple {
  color: #673ab7 !important;
}

.w3-tag {
  background-color: #673ab7 !important;
  color: #fff;
}

.w3-round-large {
  border-radius: 15px;
}

.w3-input {
  padding: 10px;
  margin-bottom: 10px;
  transition: all 0.3s;
}

.w3-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.w3-section {
  margin-bottom: 20px;
}

.w3-animate-opacity {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.w3-hover-shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.w3-table td {
  vertical-align: middle;
  padding: 10px;
}

.w3-table th {
  text-align: left;
  padding: 10px;
}

.w3-modal-content {
  max-width: 500px;
  margin: auto;
}

.w3-bar .w3-right {
  display: flex;
  align-items: center;
}
.w3-bar .w3-right .w3-bar-item {
  margin-left: 10px;
}

.w3-40percent {
  float: left;
  width: 39.99999%
}

.w3-row-padding-40percent:after,
.w3-row-padding-40percent:before{
  content: "";
  display: table;
  clear: both
}

.w3-row-padding-40percent>.w3-40percent {
  padding: 0 8px
}

.w3-row-padding-40percent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
}

.w3-buttonX {
  border: none;
  display: inline-block;
  padding: 4px 12px;
  margin: 1% 1%;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.w3-buttonX:disabled {
  cursor: not-allowed;
  opacity: 0.3
}

.w3-bar .w3-buttonX {
  white-space: normal
}

.w3-buttonX:hover {
  color: #ffffff !important;
  background-color: #000000 !important
}

@media (max-width:600px) {
  .w3-button {
    width: 100%
  }
}

.w3-fadeblue,
.w3-hover-fadeblue:hover {
  color: #fff !important;
  background: linear-gradient(to right, #007bff, #00c6ff);
}