extends layout

block content
  .w3-container.w3-padding-16
    form(action="/ucs" method="POST" class="w3-container w3-padding-large w3-card-4 w3-white")
      .w3-section
        label.w3-text-deep-purple ID:
        input.w3-input.w3-border.w3-round-large(type="text" name="_id" required)
      .w3-section
        label.w3-text-deep-purple Título:
        input.w3-input.w3-border.w3-round-large(type="text" name="titulo" required)
      .w3-section
        label.w3-text-deep-purple Docentes:
        select.w3-input.w3-border.w3-round-large(name="docentes" multiple required id="docentes-select")
          each docente in docentes
            option.w3-border.w3-round-large(value=docente.username,  style="margin:7px; padding:7px;") #{docente.name}
      .w3-section
        label.w3-text-deep-purple Horários Teóricos (separados por ponto e vírgula):
        input.w3-input.w3-border.w3-round-large(type="text" name="horarioTeoricas")
      .w3-section
        label.w3-text-deep-purple Horários Práticos (separados por ponto e vírgula):
        input.w3-input.w3-border.w3-round-large(type="text" name="horarioPraticas")
      .w3-section
        label.w3-text-deep-purple Avaliação (separados por ponto e vírgula):
        input.w3-input.w3-border.w3-round-large(type="text" name="avaliacao")
      .w3-section
        label.w3-text-deep-purple Data do Teste:
        input.w3-input.w3-border.w3-round-large(type="text" name="dataTeste")
      .w3-section
        label.w3-text-deep-purple Data do Exame:
        input.w3-input.w3-border.w3-round-large(type="text" name="dataExame")
      .w3-section
        label.w3-text-deep-purple Data do Projeto:
        input.w3-input.w3-border.w3-round-large(type="text" name="dataProjeto")
      button.w3-button.w3-blue.w3-large.w3-round-large(type="submit") Adicionar UC


    script.
      document.addEventListener('DOMContentLoaded', function() {
        var select = document.getElementById('docentes-select');
        select.addEventListener('mousedown', function(e) {
          e.preventDefault();

          var options = select.options;
          var option = options[e.target.index];

          option.selected = !option.selected;
        });
      });